<h1 class="text-center pb-3">Create Account</h1>


<div class="col-md-4 offset-md-4">
    <form (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label>Account Holder Name</label>
            <input class="form-control" type="text" id="accountHolderName" name="accountHolderName"
                placeholder="Enter Account Holder Name" [(ngModel)]="account.accountHolderName">

            <label>Contact Number</label>
            <input class="form-control" type="text" id="phoneNumber" name="phoneNumber"
                placeholder="Enter Contact Number" [(ngModel)]="account.phoneNumber">

                        <label>Debt Date</label>
            <input class="form-control" type="date" id="debtDate" name="debtDate" placeholder="Enter Debt Issue Date"
                [(ngModel)]="account.debtDate">

                            <label>Due Date</label>
            <input class="form-control" type="date" id="dueDate" name="dueDate" placeholder="Enter Due Date"
                [(ngModel)]="account.dueDate">

                            <label>Debt Amount</label>
            <input class="form-control" type="number" id="debt" name="debt" placeholder="Enter Debt Amount"
                [(ngModel)]="account.debt">

            <button type="submit" class="btn btn-success mt-3 w-100">Add To Khata</button>
        </div>

    </form>
</div>