<div class="container mt-4">

    <div class="row justify-content-center">
        <div class="col-md-5">

            <div class="card shadow-sm">
                <div class="card-body">

                    <h4 class="text-center mb-4">Create Account</h4>

                    <div *ngIf="createSuccess" class="alert alert-success p-2">
                        Customer account created successfully.
                    </div>

                    <form (ngSubmit)="onSubmit()">

                        <div class="mb-3">
                            <label class="form-label">Account Holder Name</label>
                            <input type="text" class="form-control" name="accountHolderName"
                                placeholder="Enter Account Holder Name" [(ngModel)]="account.accountHolderName"
                                required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Contact Number</label>
                            <input type="text" class="form-control" name="phoneNumber"
                                placeholder="Enter Contact Number" [(ngModel)]="account.phoneNumber" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Debt Date</label>
                            <input type="date" class="form-control" name="debtDate" [(ngModel)]="account.debtDate"
                                required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Due Date</label>
                            <input type="date" class="form-control" name="dueDate" [(ngModel)]="account.dueDate"
                                required>
                        </div>

                        <div class="mb-4">
                            <label class="form-label">Debt Amount (₹)</label>
                            <input type="number" class="form-control" name="debt" placeholder="Enter Debt Amount"
                                [(ngModel)]="account.debt" required>
                        </div>

                        <button type="submit" class="btn btn-success w-100">
                            Add to Khata
                        </button>

                    </form>

                </div>
            </div>

        </div>
    </div>

</div>